* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
}

$accent: '#34d399';

.invalid {
  border-color: red !important;
}

.passed {
  border-color: green !important;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.shimmer {
  overflow: hidden;
  position: relative;
  background: rgb(226, 226, 226);
  &:after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    background: linear-gradient(
      92deg,
      rgba(240, 240, 240, 0.075),
      rgba(29, 29, 29, 0.089)
    );
    transition: 0.2s height ease;
    will-change: width, height, transform;
    animation: shimmerMove 1.5s ease infinite forwards;
  }
}

@keyframes shimmerMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input,
select:focus {
  outline: none;
}

.fade1s-enter-active,
.fade1s-leave-active {
  transition: opacity 1s;
}
.fade1s-enter,
.fade1s-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.topentry-enter-active,
.topentry-leave-active {
  transition: all 0.3s;
}
.topentry-enter,
.topentry-leave-active {
  transform: translateY(-50px);
  opacity: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}
.page-enter /* .page-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.page-leave-to {
  opacity: 0;
}
